<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
      <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-2" data-slide-to="1"></li>
      <li data-target="#carousel-example-2" data-slide-to="2"></li>
      <li data-target="#carousel-example-2" data-slide-to="3"></li>
      <li data-target="#carousel-example-2" data-slide-to="4"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
          <div class="view">
              <img class="d-block w-100" src="../../assets/img/imgs/Slide/img2.jpg" alt="First slide">
              <div class="mask rgba-black-light"></div>
          </div>
          <div class="carousel-caption">
              <h3 class="h3-responsive">Quadros</h3>
          </div>
      </div>
      <div class="carousel-item">
          <!--Mask color-->
          <div class="view">
              <img class="d-block w-100" src="../../assets/img/imgs/Slide/img1.jpg" alt="Second slide">
              <div class="mask rgba-black-strong"></div>
          </div>
          <div class="carousel-caption">
              <h3 class="h3-responsive">Esculturas</h3>
          </div>
      </div>
      <div class="carousel-item">
          <!--Mask color-->
          <div class="view">
              <img class="d-block w-100" src="../../assets/img/imgs/Slide/img3.jpg" alt="Third slide">
              <div class="mask rgba-black-slight"></div>
          </div>
          <div class="carousel-caption">
              <h3 class="h3-responsive">Desenhos</h3>
          </div>
      </div>
      <div class="carousel-item">
          <!--Mask color-->
          <div class="view">
              <img class="d-block w-100" src="../../assets/img/imgs/Slide/img5.jpg" alt="Fourth slide">
              <div class="mask rgba-black-slight"></div>
          </div>
          <div class="carousel-caption">
              <h3 class="h3-responsive">Fotografias</h3>
          </div>
      </div>
      <div class="carousel-item">
          <!--Mask color-->
          <div class="view">
              <img class="d-block w-100" src="../../assets/img/imgs/Slide/img4.jpg" alt="Fourth slide">
              <div class="mask rgba-black-slight"></div>
          </div>
          <div class="carousel-caption">
              <h3 class="h3-responsive">Direto do artista</h3>
          </div>
      </div>
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->
<br>
<section class="coversobre">
  <div class="capasobre">
      <a routerLink="/artes">
          <h2>CATÁLOGO DE VENDAS</h2>
      </a>
  </div>
</section>
<br>
<section>
  <div class="ui-g">
      <div class="ui-g">
          <div class="ui-g-3 col-md-6 col-lg-3 col-sm-6">
              <div class="zoomin">
                  <img src="../../assets/img/imgs/venda/desenhosvenda/img1.jpg" class="img-responsive">
                  <div class="text-item">
                      <p>Desenhos</p>
                  </div>
              </div>

          </div>
          <div class="ui-g-3 col-md-6 col-lg-3 col-sm-6">
              <div class="zoomin">
                  <img src="../../assets/img/imgs/venda/quadrosvenda/img1.jpg" class="img-responsive">
                  <div class="text-item">
                      <p>Pinturas</p>
                  </div>

              </div>
          </div>
          <div class="ui-g-3 col-md-6 col-lg-3 col-sm-6">
              <div class="zoomin">
                  <img src="../../assets/img/imgs/venda/esculturasvenda/img1.jpg" class="img-responsive">
                  <div class="text-item">
                      <p>Esculturas</p>
                  </div>
              </div>
          </div>
          <div class="ui-g-3 col-md-6 col-lg-3 col-sm-6">
              <div class="zoomin">
                  <img src="../../assets/img/imgs/venda/fotovenda/img1.jpg" class="img-responsive">
                  <div class="text-item">
                      <p>Fotografias</p>
                  </div>

              </div>
          </div>
      </div>
  </div>
</section>
