<div class="container">
  <!--Navbar -->
  <nav class="mb-1 navbar fixed-top navbar-expand-lg navbar-dark bg-dark scrolling-navbar ">
    <a class="navbar-brand" routerLink="/home">E.V.A.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
      aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Início
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/artes">Catálogo de Vendas</a>
        </li>

        <li class="nav-item nome-menu">
          <p>
            {{ auth.jwtPayload ? auth.jwtPayload.nome : null }}
          </p>
        </li>

        <li class="nav-item login-menu" *ngIf="auth.jwtPayload">
          <a class="nav-link" href="javascript:;" (click)="logout()">Logout</a>
        </li>
      </ul>

    </div>
  </nav>
</div>

<br>
<br>
<br>
